.app {
  text-align: center;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.pip {
  width: 3px;
  height: 20px;
  border-radius: 50px;
  background: #000 ;
}

.range {
  width: 200px;
  background: #F6F6F6;
}

.app-logo {
  width: 500px;
  height: 500px;
}

.app-header {
  width: 400px;
  height: 130px;
  background: #F6F6F6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-logo-container {
  position: relative;
  display: flex;
  height: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.sensitivity-container {
  background: #F6F6F6;
}

.range-container {
  background: #F6F6F6;
}

.drag {
  cursor: move;
  background: #F6F6F6;
  -webkit-app-region: drag;
}